{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ INSTALLATION_NAME }}</title>
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "bootstrap-slider.min.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
    </div>
    <script type="text/javascript" src="{% static "app.bundle.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-slider.min.js" %}"></script>
</body>
</html>
