
{% block body %}

{% endblock %}

{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% if title %}
        <title>{{ INSTALLATION_NAME }} - {{ title }}</title>
    {% else %}
        <title>{{ INSTALLATION_NAME }}</title>
    {% endif %}
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="app">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ INSTALLATION_NAME }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <p>Please login to access {{ INSTALLATION_NAME }}.</p>

                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <input class="btn btn-primary" type="submit" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
